@model PlasticReductionProject.Models.ProductResult

<h4>Question Template 2</h4>

<p>On average I @Model.Product.UseVerb  @Model.Product.Description <input type="number" id="AmountUsed" name="AmountUsed"
       min="1" max="100"/> per @Html.EnumDropDownListFor(x => x.PeriodUsed) .</p> 