@model IEnumerable<PlasticReductionProject.Models.Link>

@{
    ViewBag.Title = "Index";
}
<br /><br /><br /><br /><br />
                  <div style="background-image: url('../../images/turtlePlasticbagDark.jpg'); background-repeat: no-repeat; background-size: cover;" class="result">

                      <table width="80%" align="center">
                          @if (Model.Count() > 1)
                          {
                              var counter = 1;

                              <tr>
                                  @foreach (var item in Model)
                                  {

                                      if (counter % 2 > 0)
                                      {
                                          <td width="50%" valign="middle" align="center">
                                              <a href=@item.Url onClick="return confirm('This will take you to an external site')" target="_blank">
                                                  <img src=@item.Image.ToString() width="30%" />
                                              </a>
                                              <p class="result" align="center" style="margin: 30px">
                                                  @Html.DisplayFor(modelItem => item.Description)
                                              </p>
                                              <p>
                                                  <span class="btn btn-default" style="margin: 5px">
                                                      <a href=@item.Url onClick="return confirm('This will take you to an external site')" target="_blank">visit site</a>
                                                  </span>
                                              </p>
                                              <br />
                                          </td>
                                      }
                                      else
                                      {
                                          <td width="50%" valign="middle" align="center">
                                              <p class="result" style="margin: 30px">
                                                  @Html.DisplayFor(modelItem => item.Description)
                                              </p>
                                              <p>
                                                  <a href=@item.Url target="_blank" onClick="return confirm('This will take you to an external site')">
                                                      <img src=@item.Image.ToString() width="30%" />
                                                  </a>
                                              </p>
                                              <p>
                                                  <span class="btn btn-default" style="margin: 5px">
                                                      <a href=@item.Url target="_blank" onClick="return confirm('This will take you to an external site')">visit site</a>
                                                  </span>
                                              </p><br />
                                          </td>

                                          @Html.Raw("</tr><tr>")
                                      }
                                      counter += 1;

                                  }
                              </tr>
                          }
                      </table>
                      </div>