
@{
    ViewBag.Title = "View";
}

<h2>Calculator</h2>

<p align="left">
    <span class="btn btn-default" style="margin: 5px">
        @Html.ActionLink("Generate Report", "Report", "Calculator")
    </span>
</p>

<p align="left">
    <span class="btn btn-default" style="margin: 5px">
        @Html.ActionLink("Test Products", "Products", "Calculator")
    </span>
</p>