@{
    ViewBag.Title = "View";
}
<body>
    <img class="bg" src="~/Images/SeaBackground.jpg" />
    <div class="center">
        <p>To determine how your plastic usage is affecting the environment, please answer the following questions by using a number and frequency for each product.</p>
        <br /><p class="btn btn-default">@Html.ActionLink("Calculate Your Plastic Footprint Now", "Calculator", "Calculator")</p>
    </div>
</body>



