@{
    ViewBag.Title = "View";
}
<div class="center">
    <body>
        <p>To determine how your plastic usage is affecting the environment, please answer the following questions by using a number and frequency for each product.</p>
        <br /><p class="btn btn-default">@Html.ActionLink("Calculate Now", "Calculator", "Calculator")</p>
    </body>
    
</div>
