
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>


<table style="width:100%">
    <tr>
        <td>
            <br /><image src="../../images/Simpsons/Bart.jpg" width="80%"></image>
        </td>
        <td>
            <p>
                You are Bart Simpson!
            </p>
            <p>
                <small>
                    You are below average for your plastic footprint. Plastic conservation hasn't been a priority in your life but you have some habits that are saving the planet.
                </small>
            </p>
        </td>
    </tr>
</table>

<table style="width:100%">
    <tr>
        <td style="width:30%" align="center" valign="top">
            <br /><image src="../../images/PlasticCharacters/Petey PET.jpg" width="40%"></image>
            <p>
                You use 80 grams of PET per day. The average was 60 grams for the tested products.
            </p>
        </td>
        <td style="width:30%" align="center" valign="top">
            <br /><image src="../../images/PlasticCharacters/Harry HDPE.jpg" width="45%"></image>
            <p>
                You use 120 grams of HDPE per day.The average was 150 grams for the tested products.
            </p>
        </td>

        <td style="width:30%" align="center" valign="top">
            <br /><image src="../../images/PlasticCharacters/Pedro PVC.jpg" width="30%"></image>
            <p>
                Your caculation did not include PVC.
            </p>
        </td>
    </tr>
    <tr>
        <td style="width:30%" align="center" valign="top">
            <br /><image src="../../images/PlasticCharacters/Larry LDPE.jpg" width="40%"></image>
            <p>
                You use 20 grams of LDPE per day.The average was 70 grams for the tested products.
            </p>
        </td>

        <td style="width:30%" align="center" valign="top">
            <br /><image src="../../images/PlasticCharacters/Polly and Paulie PP.jpg" width="45%"></image>
            <p>
                Your caculation did not include PP.
            </p>
        </td>

        <td style="width:30%" align="center" valign="top">
            <br /><image src="../../images/PlasticCharacters/Preston PS.jpg" width="45%"></image>
            <p>
                Your caculation did not include PS.
            </p>
        </td>

    </tr>
    <tr>
        <td>
        </td>
        <td style="width:30%" align="center" valign="top">
            <br /><image src="../../images/PlasticCharacters/Ollie Other.jpg" width="45%"></image>
            <p>
                Your caculation did not include other plastic types.
            </p>
        </td>
    </tr>
    <tr style="border:solid">
        <td style="width:30%" align="center" valign="top">
            <br /><image src="../../images/ChildBeach.jpg" width="60%"></image>
        </td>
        <td valign="top">
            <h4><em><b>Step 2 - Track your progress</em></b></h4>
            <p>
                <small>
                    If you have completed the calculator on two different occasions you can check if your plastic footprint has changed.
                </small>
            </p>
            <p align="right"><span class="btn btn-default" style="margin: 5px">@Html.ActionLink("Track your progress", "Tracker", "Tracker")</span></p>
        </td>
    </tr>
    <tr>

</table>

