@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<div class="terry-woz-ere">YO! ANDREW AND CHRIS.... TERRY WOZ 'ERE?</div>