@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Plastic Footprint</h1>
    <br><p class="lead">@ViewBag.Welcome</p>
        <br><br><br>
                <table style="width:100%">
                    <tr>
                        <td style="width:30%">image placeholder</td>
                        <td>image for step 1: text and link</td>

                    </tr>
                    <tr>
                        <td style="width:30%">image placeholder</td>
                        <td>image for step 2: text and link</td>

                    </tr>
                    <tr>
                        <td style="width:30%">image placeholder</td>
                        <td>image for step 3: text and link</td>

                    </tr>
                </table>
</div>

