
@{
    ViewBag.Title = "Information";
}

<h2>Information</h2>

<p>@Html.ActionLink("Alternatives","Alternatives","Alternatives") </p>

<!--need for each for each link in table-->
<p>@Html.ActionLink("Some other Link", "Alternatives", "Alternatives") </p>


