@model IEnumerable<PlasticReductionProject.Models.Project>
@{
    ViewBag.Title = "Projects";
}

<div style="position:relative; top:130px;">

    <img class="bg" src="~/Images/SeaBackground.jpg" />

    <table class="table" style="width:100%" ">


        @foreach (var item in Model)
        {

            <tr>
                <td style="width: 30%; padding: 30px;">
                    <br /><image src=@item.Image.ToString() width="100%"></image>
                </td>
                <td style="width:10%">
                </td>
                <td style="width:50%;vertical-align:middle;text-align:left">
                    <p style="color: white; font-size: calc(25px + 0.390625vw); "><b>@item.Name</b></p>
                    <p style="color: white; font-size: calc(15px + 0.390625vw);">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </td>
                <td style="vertical-align:bottom">
                    <p>
                        <a class="btn btn-default" onClick="return confirm('This will take you to an external site')" style="margin: 5px" href=@item.LinkUrl target="_blank">
                            Go to Project
                        </a>
                    </p>
                </td>

            </tr>
        }

    </table>

</div>