@model IEnumerable<PlasticReductionProject.Models.PlasticAlternative>


@{
    ViewBag.Title = "Alternatives";
}

<h2>Here are some alternatives for popular plastic products</h2>

<table>

    <tr>
        <td colspan="2">
            product name goes here this is the product Here it is just a number @ViewBag.Product
        
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Description
            </td>
            <td>
                The image will go here
            </td>

        </tr>
    }

    </table>


