body {
    transition: margin-left .5s;
    margin: 0;
    background-color: white;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



.btn-default {
    appearance: button;
    background-color: skyblue;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: fit-content;
}

btn-default:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

btn-default:focus {
    user-select: auto;
}

btn-default:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

btn-default:disabled {
    cursor: auto;
}

.qContainer {
    position: relative;
    max-height: 50%;
}

.qImage {
    display: block;
    margin: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 30px;
}

.qOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.qContainer:hover .qOverlay {
    opacity: 0.75;
}

.question {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}






.result {
    font-size: x-large;
    color:cornsilk;
}

.resultBackground {
    background-color: rgb(150,150,150,0.50);
}
.resultBackground2 {
    color:white;
    background-color: darkred;
    opacity: 0.8;
}

.heading1 {
    font-size: 100px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    border: none;
    border-bottom: 2px solid black;
    max-width: 280px;
    background-color: #008CBA;
}

.terry-woz-ere {
    animation: blinker 1s linear infinite;
}

.jumbotron {
    background-color: white;
}


.container {
    width: 100%;
    justify-self: center;
    margin: 0 0;
    padding: 0px 0px 0px 0px;
}

.top_right {
    position: absolute;
    left: 5px;
    top: 5px;
}

.cta-button {
    background-color: white;
    color: orange !important;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Century Gothic';
    text-decoration: none;
}

    .cta-button:hover {
        text-decoration: none;
        background-color: orange;
    }

a:hover {
    text-decoration: none;
}

.img-gradient {
    position: relative;
    display: inline-block;
}


    .img-gradient:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 220, 220, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 220, 220, 0.5) 100%); /* Chrome10+,Safari5.1+ */
   
    }

    .img-gradient img {
        display: block;
    }

.hero-font {
    font: bold 44px/65px Helvetica, Sans-Serif;
    font-size: 120px;
    letter-spacing: -1px;
    color: aliceblue;
    position: absolute;
    top: 30%;
    right: 10%;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.btn btn-default {
    transition-duration: 0.4s;
}

    .btn btn-default:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }


body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* Styling for side navigation bar - use background colour to change the panel colour and opacity */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2976a9f0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    /* Styling for side navigation bar when opened */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #b4cce1;
        display: block;
        transition: 0.3s;
    }
        /* Adds hover color highlight for side navigation bar links */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this id if you want to push the page content to the right when you open the side navigation */
#sideNavPushes {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

        .overlay a {
            font-size: 20px
        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }



    .container {
        width: 100%;
        justify-self: center;
        margin: 0 0;
        padding: 0px 0px 0px 0px;
    }
}



#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
    }

        #navbar a:hover {
            background-color: #ddd;
            color: black;
        }

.img-slider {
    position: relative;
    width: 100vw;
    height: 400px;
}

    .img-slider .slider-container {
        position: absolute;
        width: 300%;
        top: 0;
        left: 0;
        overflow: hidden;
        animation: slider 26s infinite;
    }

        .img-slider .slider-container .slide {
            position: relative;
            width: 33.33333333%;
            height: 100%;
            float: left;
            overflow: hidden
        }

            .img-slider .slider-container .slide img {
                display: block;
                width: 100%;
                height: 100%
            }

@keyframes slider {
    0%, 25%, 100% {
        left: 0
    }

    30%, 55% {
        left: -100%
    }

    60%, 85% {
        left: -200%
    }
}
